/.quarto/
/.Rproj.user/
.quarto/idx/index.qmd.json
.quarto/xref/ae328483
.Rproj.user/52B9D855/sources/prop/B111B326
.Rproj.user/52B9D855/sources/prop/INDEX
.Rproj.user/52B9D855/sources/session-c05de5de/A73A5A14
.Rproj.user/52B9D855/sources/session-c05de5de/A73A5A14-contents
